.ls_app {
	top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.error {
	display: none;
	position: absolute;
    top: -100%;
    background: #f15c5c;
    padding: 20px;
    color: white;
    font-family: Raleway;
    font-weight: bold;
    border-radius: 10px;
}

.longurl-input {
    display: block;
    overflow: hidden;
}

input.longurl {
	border-radius: 50px;
    outline: 0;
    border: 1px solid #a3bdd2;
    padding: 17px 30px;
    font-family: Raleway, sans-serif;
    font-size: 2em;
    float: left;
    display: inline-block;
}

input.longurl:focus {
	background: #e8e8e8;
}

i.longurl_submit {
	color: #a3bdd2;
    font-size: 4em;
    float: right;
    margin-left: 10px;
    display: inline-block;
    cursor: pointer;
}

i.longurl_submit:hover {
	color: #8698a7;
}

.shortenedurl-container {
	display: block;
    clear: both;
    margin-top: 30px;
    font-size: 2em;
    text-align: center;
    border-bottom: 2px dashed #c8c8c8;
    min-height: 40px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    font-family: Raleway, sans-serif;
}